body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
 }
.navbar-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#fff;
    box-shadow: 0 4px 5px -6px rgba(0, 0, 0, 0.555);
    width: 100%;
}
.navbar-header ul{
    display: flex;
    list-style-type: none;
    line-height: 0.2rem;
}
.header-logo img{
    display:flex;
    width: 8rem;
}
.navbar-header ul li{
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 400;
    padding:1rem;
    color: #afafaf;
    text-transform: uppercase;
    transition: .3s all;
}
.navbar-header ul li:hover{
    color: #ff420a;
    cursor: pointer;
    text-decoration: underline #ff420a;
}
#latest-news{
    display: flex;
}
#latest-news .latest-news-wrapper{
    width: 90%;
    margin: auto;
}
.latest{
    color:#ff420a;
    font-size: 1.7rem;
    font-weight: 900;
    display: inline-flex;
    padding-left: 4rem;
}
.latest:hover{
    color: black;
    cursor: pointer;
    transition: 0.3s;
}
.grid-boxes-row1{
    display: flex;
    justify-content: space-evenly;
    margin: 0 2rem;
}
.grid-boxes-row2{
    display: flex;
    justify-content: space-evenly;
    margin: 0 2rem;
}
.grid-boxes-row1 .box{
    padding: 0.5rem;
    flex-basis: 15rem;
}
.grid-boxes-row1 .box p{
    font-size: 1rem;
    font-weight: bold;
}
.grid-boxes-row1 .box p:hover{
    color: #ff0000b7;
    cursor: pointer;
    text-decoration: underline#ff000063;
    transition: 0.3s all;
}
.grid-boxes-row2 .box p:hover{
    color: #ff0000b7;
    cursor: pointer;
    text-decoration: underline#ff000063;
    transition: 0.3s all;
}
.grid-boxes-row1 .box span{
    color: #afafaf;
    font-size: 0.8rem;
}
.grid-boxes-row1 .box span:hover{
    color: black;
}
.grid-boxes-row2 .box span{
    color: #afafaf;
    font-size: 0.8rem;
}
.grid-boxes-row2 .box span:hover{
    color: black;
}
.grid-boxes-row1 .box p1{
    color: #afafaf;
    font-size: 0.8rem;
}
.grid-boxes-row2 .box p1{
    color: #afafaf;
    font-size: 0.8rem;
}
.grid-boxes-row2 .box{
    padding: 0.5rem;
    flex-basis: 15rem;
}
.grid-boxes-row2 .box p{
    font-size: 1rem;
    font-weight: bold;
}
.grid-boxes-row2 .box p:hover{
    color: #ff0000b7;
    cursor: pointer;
    text-decoration: underline#ff000063;
    transition: 0.3s all;
}
.grid-boxes-row1 .box img{
   height:7rem ;
   width: 15rem;
}
.grid-boxes-row1 .box img:hover{
    cursor: pointer;
}
.grid-boxes-row2 .box img{
   height:7rem ;
   width: 15rem;
}
.grid-boxes-row2 .box img:hover{
    cursor: pointer;
}

 @media all and (max-width:500px){
    .navbar-header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbar-header ul{
        flex-direction: column;
        align-items: center;
    }   
    .latest-news-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .grid-boxes-row1{
        flex-direction: column;
        flex-basis: 10rem;
        justify-content: center;
    
    } 
    .grid-boxes-row2{
        flex-direction: column;
        flex-basis: 10rem;
       justify-content: center;
    }

 }

@media all and (max-width:800px){
    .nav-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    } 
    .navbar-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .latest-news-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .grid-boxes-row1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .grid-boxes-row2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media all and (max-width:1200px){
    .nav-header{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    } 
    .navbar-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .latest-news-wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .grid-boxes-row1{
        display: flex;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: space-around;
    }
    .grid-boxes-row2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}

.latest-deals{
    display: flex;
    /* padding-top: 5rem; */
}
.latest-deals .latest-deals-wrapper{
    width: 90%;
    margin: auto;
}
.deals{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    flex-wrap: wrap;
}
.deals h1{
    color:#ff420a;
    font-size: 1.7rem;
    font-weight: 900;
    display: inline-flex;
    padding-top: 1rem;
    padding-left: 2rem;
}
.deals h1:hover{
    color: black;
    cursor: pointer;
}
.deals p{
    color:#ff420a;
    font-size: 1rem;
    display: inline-flex;
    padding-right:  3.5rem;
    padding-top: 2rem
}
.deals p:hover{
    color: black;
    cursor: pointer;
}
.boxes{
    display: flex;
    justify-content: space-around;
    margin: 0 2rem;
    flex-wrap: wrap;
}

.boxes .box{
    flex-basis: 15rem;
    padding: 1rem 0 1rem 0;
    
}
.boxes .box img{
    height:11rem ;
    width: 15rem;

}
.boxes .box img:hover{
    cursor: pointer;
}

.boxes .box h1{
    font-size: 1rem;
    font-weight: bold;
}
.boxes .box h1:hover{
    color: #ff0000b7;
    cursor: pointer;
    text-decoration: underline#ff000063;
    transition: 0.3s all;
}

.boxes .box del{
    font-size: 0.8rem;
    color: #afafaf;
}

.boxes .box img{
    box-shadow: 0px 8px 0.6rem -10px rgb(0, 0, 0.9);
}

.boxes .box .tags{
    background-size: contain;
    display:block;
}

.boxes .box .tags .tag{
    transform: rotate(45deg);
    font-size: 12px;
    font-weight: 800;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 39px;
    left:  164px;
    /* top: 0;
    right: 0;  */
    /* background-color: yellow; */
    width: 35%;

}
@media all and (max-width:500px){
    .latest-deals{
        flex-direction: column;
        align-items: center;
    }
    .latest-deals-wrapper{
        flex-direction: column;
        align-items: center;
    }   
   .boxes{
    flex-basis: 10rem;
    justify-content: center;
    
    } 
}

